[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "speccurvieR"]
	path = speccurvieR
	url = https://github.com/zaynesember/speccurvier
